# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
aspnet-core/src/Dukkan.Web.Api/App_Data/Logs/
aspnet-core/src/Dukkan.Web.Public/App_Data/Logs/
aspnet-core/src/Dukkan.EntityFrameworkCore.Migrator/Logs/Logs.txt
