<ng-container *ngIf="languages.length > 1; else defaultTlp">
  <tabset>
    <tab [heading]="'Default' | localize" class="pt-3 px-2">
      <ng-container *ngTemplateOutlet="defaultTlp"></ng-container>
    </tab>
    <tab *ngFor="let language of languages; let i = index" class="pt-3 px-2">
      <ng-template tabHeading>
        <i class="d-inline-block mr-1 {{ language.icon }}"></i>
        <span>{{ language.displayName }}</span>
      </ng-template>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="name">
          {{ "Name" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            id="name"
            maxlength="32"
            name="translations[{{ i + 1 }}].name"
            [(ngModel)]="translations[i + 1].name"
            #nameModel="ngModel"
            #nameEl
          />
          <abp-validation-summary
            [control]="nameModel"
            [controlEl]="nameEl"
          ></abp-validation-summary>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="description">
          {{ "Description" | localize }}
        </label>
        <div class="col-md-9">
          <textarea
            type="text"
            class="form-control"
            name="translations[{{ i + 1 }}].description"
            id="description"
            [(ngModel)]="translations[i + 1].description"
            cols="5"
          ></textarea>
        </div>
      </div>
    </tab>
  </tabset>
</ng-container>
<ng-template #defaultTlp>
  <div class="form-group row required">
    <label class="col-md-3 col-form-label" for="name">
      {{ "Name" | localize }}
    </label>
    <div class="col-md-9">
      <input
        type="text"
        class="form-control"
        id="name"
        required
        maxlength="32"
        name="translations[0].name"
        [(ngModel)]="translations[0].name"
        #nameModel="ngModel"
        #nameEl
      />
      <abp-validation-summary
        [control]="nameModel"
        [controlEl]="nameEl"
      ></abp-validation-summary>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="description">
      {{ "Description" | localize }}
    </label>
    <div class="col-md-9">
      <textarea
        type="text"
        class="form-control"
        name="translations[0].description"
        id="description"
        [(ngModel)]="translations[0].description"
        cols="5"
      ></textarea>
    </div>
  </div>
</ng-template>
